apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: test2-network-policy
spec:
  podSelector:
    matchLabels:
      app: advanced-app # NetworkPolicy podSelector matches the labels of the deployment
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              component: sidecar
              
  egress:
    - to:
        - podSelector:
            matchLabels:
              component: sidecar